fastapi
uvicorn[standard]
pandas
scikit-learn
python-multipart
openpyxl
sqlalchemy
psycopg2-binary
langchain
google-generativeai
ollama
langchain-community
langchain-google-genai
tensorflow
matplotlib
seaborn
SpeechRecognition
pydub
