openapi: 3.0.0
info:
  title: SADI MPA API
  version: 1.0.0
paths:
  /mpa/quality/report:
    post:
      tags:
        - "MPA - Data Quality"
      summary: Generates a comprehensive data quality report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '422':
          description: Validation Error
